body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#score{
  color: white;
}

/* canvas2 is posenet canvas */
#canvas{
  position:absolute;
  z-index: 1;
}
#scoreCanvas{
  z-index: 2;
  position: absolute;
}
